body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFFF;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 4% 0;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
}

.eighthMay h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.2em;
}


.eighthMay p {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
}

.copyright {
  color: #595353;
  text-align: center;
  padding: 10% 0 0;
  font-size: 0.75rem;
  font-style: italic;
}

/* "D"logo */
.logoPlace .logoD {
  padding: 0 1%;
  color: rgba(240, 248, 255, 0.93);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 7px 9px 4px rgba(243, 206, 206, 0.25);
  font-style: italic;
  font-weight: 900;
  font-size: 30px;
}

.logoPlace h5 {
  position: static;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.1em;
}



/* btn */
.followBtn {
  width: 200px;
  height: 60px;
  background: #F3D5D5;
  border-radius: 40px;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 2.625rem;
  color: #0C20D7;
  margin: 3% auto;
  text-align: center;
}

.followBtn:hover {
  filter: drop-shadow(0 0 7px #595353);
}
/* .followBtn:active {
  border-style: outset;
  outline: none;
} */
.followBtn:focus {
  outline: none;
  box-shadow: none;
}

/* img */
.computerImg {
  border: 10px solid #595353;
  width: 100%;
  margin-top: 10%;
  margin-left: 10%;
}

.mapImg {
  width: 100%;
  /* float: left; */
  margin-right: 3%;
}

.moonImg {
  border-radius: 100%;
  width: 261px;
  height: 259px;
  background: linear-gradient(161.76deg, #FBD5D5 9.43%, rgba(251, 213, 213, 0) 87.55%);
  position: absolute;
  top: 5%;
  left: 44.10%;
}

/* containers */
.container-fluid {
  background: #000000;
  background-position: center;
  padding: 5% 10% 5% 5%;
  position: absolute;
}



.right {
  padding: 10% 0;
}

.eighthMay {
  text-align: left;
}

.verticalLine {
  width: 1px;
  height: 180px;
  background-color: #E6C1C1;

}

@media (max-width: 576px) {
  .container-fluid {
    text-align: center;
    padding: 5% 10%;
  }
  .eighthMay {
    text-align: left;
  }
  .computerImg {
    margin: 15% auto 0;
  }
  .moonImg {
    left: 23%;
    margin-top: 4%;
  }

  .logoPlace h5 {
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 0.1em;
  }

  .eighthMay h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
  }


  .eighthMay p {
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.05em;
  }
}
